$blue: #52B3D9; //rgba(82, 179, 217, 100) SHAKESPEARE Blue
$darkgreen: #1E824C; //rgba(77, 145, 110, 100)
$lightgreen: #00B16A; //rgba(38, 166, 91, 100) eucalptus green
$pink: #D2527F; //rgba(210, 82, 127, 100)
$purple: #663399; //rgba(102, 51, 153, 100)
$yellow: #F7CA18; //rgba(247, 202, 24, 100) RIPE LEMON yellow